<!DOCTYPE html>
<html>
<head>
	<title>UPDATE Job</title>
</head>
<body>
<center>
	<fieldset style="width: 275px">
		<legend>Update</legend>
		<h1>Update</h1>
	<form method="POST" >
		<b>ID:</b><input type="text" name="id" value="<%=details.id%>" disabled><br><hr>
		<b>Company Name:</b><input type="text" name="comName" value="<%=details.companyName%>"><br><hr>
		<b>Location:</b><input type="text" name="loc" value="<%=details.jobLocation%>"><br><hr>
		<b>Title:</b><input type="text" name="title" value="<%=details.jobtTitle%>"><br><hr>
		<b>Salary:</b><input type="text" name="sal" value="<%=details.salary%>"><br><hr>
		<input type="submit" name="submit" value="Update"><br>
	</form>
	</fieldset>
	<a href="/empl/allJob">Back</a>
</center>
</body>
</html>